---
layout: blog
title: Blog
---

<section class="section hero">
	<div class="container">
		<div class="hero__body">
			<p class="hero__text">{{ site.data.hero.text }}</p>
			<h1 class="hero__title code">{{ site.data.hero.title }}</h1>
		</div>
	</div>
</section>

<section class="section latest" id="latest">
	<div class="container">
		<div class="section__title">
			<h3>Latest Post</h3>
			<span class="line" aria-hidden="true"></span>
		</div>

		{% for post in site.posts limit: 1 %}
		<div class="post">
			<figure>
				<img src="/assets/images/blog/{{ post.img }}" alt="{{ post.img }}" class="post__image" />
				{% if post.imgCaption %}
				<figcaption>
					<p>{{post.imgCaption}}</p>
				</figcaption>
				{% endif %}
			</figure>

			<article>
				{%- assign date_format = "%b %-d, %Y" -%}
				<div class="author">
					<p class="author__name">{{ post.author }}</p>
					<p class="date">{{ post.date | date: date_format }}</p>
				</div>
				<div class="post__body">
					<h2 class="post__title">{{ post.title }}</h2>
					
					<p class="post__snippet">{{ post.intro }}</p>
					<a href="{{ post.url | relative_url }}" class="post__btn">Read more &rarr;</a>
				</div>
			</article>
		</div>
		{% endfor %}
	</div>
</section>

<section class="section older" id="older">
	<div class="container">
		<div class="section__title">
			<h3>Older Posts</h3>
			<span class="line" aria-hidden="true"></span>
		</div>

		<div class="years">
			{% assign olderPosts = site.posts | shift %} {% assign postsByYear = olderPosts | group_by_exp:"post", "post.date | date: '%Y'" %} {% for year
			in postsByYear %}
			<div class="year">
				<h4 class="year__title">{{ year.name }}</h4>
				{% for post in year.items %}
				<div class="entry">
					{%- assign date_format = "%b %-d, %Y" -%}
					<p class="entry__date">{{ post.date | date: date_format }}</p>
					<a href="{{ post.url | relative_url }}" class="entry__link">{{ post.title }}</a>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{%- include blogFooter.html -%}
