<div class="container">
	<a href="./pages/tools.html">
		<figure class="card">
			<div class="card__icon">
				<i class="fas fa-tools --tools"></i>
			</div>
			<figcaption class="card__desc">
				<p>Tools</p>
			</figcaption>
		</figure>
	</a>

	<a href="./pages/flour.html">
		<figure class="card">
			<div class="card__icon">
				<i class="fas fa-seedling --flour"></i>
			</div>
			<figcaption class="card__desc">
				<p>Flour</p>
			</figcaption>
		</figure>
	</a>

	<a href="./pages/merch.html">
		<figure class="card">
			<div class="card__icon">
				<i class="fas fa-tshirt --merch"></i>
			</div>
			<figcaption class="card__desc">
				<p>Merch</p>
			</figcaption>
		</figure>
	</a>

	<a href="./pages/videos.html">
		<figure class="card">
			<div class="card__icon">
				<i class="fab fa-youtube --videos"></i>
			</div>
			<figcaption class="card__desc">
				<p>Videos</p>
			</figcaption>
		</figure>
	</a>
</div>
