<!-- {% for link in site.data.links %}
<div class="social-link">
    <a href="{{ link.url }}">{{ link.name }}</a>
    <i class="fab fa-{{ link.icon }}"></i>
</div>

{% endfor %} -->
<div class="container">
	<h2 class="section__title --light">Follow me!</h2>
	<ul class="social-nav">
		<li class="social-nav__item --discord">
			<a href="https://thbrco.io/discord" class="social-nav__link" title="Discord">
				<i class="fab fa-discord"></i>
			</a>
		</li>
		<li class="social-nav__item --github">
			<a href="https://thbrco.io/github" class="social-nav__link" title="GitHub">
				<i class="fab fa-github"></i>
			</a>
		</li>
		<li class="social-nav__item --instagram">
			<a href="https://thbrco.io/instagram" class="social-nav__link" title="Instagram">
				<i class="fab fa-instagram"></i>
			</a>
		</li>
		<!-- <li class="social-nav__item --blog">
			<a href="https://thbrco.io/blog" class="social-nav__link" title="My Blog">
				<i class="fas fa-edit"></i>
			</a>
		</li>
		<li class="social-nav__item --web">
			<a href="https://thbrco.io/homepage" class="social-nav__link" title="My Website">
				<i class="fas fa-globe"></i>
			</a>
		</li> -->
		<li class="social-nav__item --reddit">
			<a href="https://thbrco.io/reddit" class="social-nav__link" title="Reddit">
				<i class="fab fa-reddit"></i>
			</a>
		</li>
		<li class="social-nav__item --newsletter">
			<a href="https://thbrco.io/newsletter" class="social-nav__link" title="Newsletter">
				<i class="fas fa-envelope-square"></i>
			</a>
		</li>
		<li class="social-nav__item --telegram">
			<a href="https://thbrco.io/telegram" class="social-nav__link" title="Telegram">
				<i class="fab fa-telegram"></i>
			</a>
		</li>
		<li class="social-nav__item --tiktok">
			<a href="https://thbrco.io/tiktok" class="social-nav__link" title="TikTok">
				<i class="fab fa-tiktok"></i>
			</a>
		</li>
		<li class="social-nav__item --twitch">
			<a href="https://thbrco.io/twitch" class="social-nav__link" title="Twitch">
				<i class="fab fa-twitch"></i>
			</a>
		</li>
	</ul>
	<div class="impressum">
		<p>
			Allonsy GmbH <br />
			Wattenbergstraße 13 <br />
			21075 Hamburg
		</p>
		<p class="copyright">Design and Code by @CodeNascher - &copy; 2021</p>
	</div>
</div>
