<div class="container">
	<a href="/" class="logo">theBread.code();</a>

	<div class="nav-toggle">
		<i class="fas fa-bars" id="nav-toggle"></i>
	</div>
	<nav id="nav" class="nav">
		<ul class="mobile-nav">
			<li class="mobile-nav__item"><a href="/" class="mobile-nav__link">Home</a></li>
			<li class="mobile-nav__item"><a href="/tools.html" class="mobile-nav__link">Tools</a></li>
			<li class="mobile-nav__item"><a href="/flour.html" class="mobile-nav__link">Flour</a></li>
			<li class="mobile-nav__item"><a href="/merch.html" class="mobile-nav__link">Merch</a></li>
			<li class="mobile-nav__item"><a href="/videos.html" class="mobile-nav__link">Videos</a></li>
		</ul>

		<li class="follow">Follow me</li>
		<ul class="mobile-social-nav">
			<li class="mobile-social-nav__item --discord">
				<a href="https://thbrco.io/discord" class="mobile-social-nav__link">
					<i class="fab fa-discord"></i>
				</a>
			</li>
			<li class="mobile-social-nav__item --github">
				<a href="https://thbrco.io/github" class="mobile-social-nav__link">
					<i class="fab fa-github"></i>
				</a>
			</li>
			<li class="mobile-social-nav__item --instagram">
				<a href="https://thbrco.io/instagram" class="mobile-social-nav__link">
					<i class="fab fa-instagram"></i>
				</a>
			</li>
			<li class="mobile-social-nav__item --blog">
				<a href="https://thbrco.io/blog" class="mobile-social-nav__link">
					<i class="fas fa-edit"></i>
				</a>
			</li>
			<li class="mobile-social-nav__item --web">
				<a href="https://thbrco.io/homepage" class="mobile-social-nav__link">
					<i class="fas fa-globe"></i>
				</a>
			</li>
			<li class="mobile-social-nav__item --reddit">
				<a href="https://thbrco.io/reddit" class="mobile-social-nav__link">
					<i class="fab fa-reddit"></i>
				</a>
			</li>
			<li class="mobile-social-nav__item --newsletter">
				<a href="https://thbrco.io/newsletter" class="mobile-social-nav__link">
					<i class="fas fa-envelope-square"></i>
				</a>
			</li>
			<li class="mobile-social-nav__item --telegram">
				<a href="https://thbrco.io/telegram" class="mobile-social-nav__link">
					<i class="fab fa-telegram"></i>
				</a>
			</li>
			<li class="mobile-social-nav__item --tiktok">
				<a href="https://thbrco.io/tiktok" class="mobile-social-nav__link">
					<i class="fab fa-tiktok"></i>
				</a>
			</li>
			<li class="mobile-social-nav__item --twitch">
				<a href="https://thbrco.io/twitch" class="mobile-social-nav__link">
					<i class="fab fa-twitch"></i>
				</a>
			</li>
		</ul>
	</nav>
</div>
