---
layout: blog
title: blog
---

<!DOCTYPE html>
<html lang="en">
	{%- include headinclude_blog.html -%}
	<body>
		<header>{%- include header.html -%}</header>
		{{ content }}
	</body>
</html>
<!-- 

	also, folgendes:

	deine bilder sind immer in einem p tag, geht das irgendwie anders?

	habe alle h3 tags durch h2 ersetzt > du in zukunft auch nur h2 verwenden
	-ok top

	im moldy starter habe ich ein paar comments hinterlassen für die zukunft
	-ok top
	
	fehlen halt noch die inhalte in diesem post
	
 -->