<!-- ok anscheinend hat man für posts immer ein layout mit dem namen "post" 


	ok, scheint zu stimmen jetzt
	
	eventuell brauchst du dann noch andere headinclude oder?

	in den content kram wird dann der HTMl jedes einzelnen posts eingebaut.

	hmm, das war nix mit headinclude_blog

-->

<!DOCTYPE html>
<html lang="en">
	{%- include headinclude_blog_detail.html -%}
	<body>
		<header>{%- include header.html -%}</header>
		<div class="back" id="top">
			<div class="container">
				<a href="/blog.html#latest" class="backBtn post__btn">&larr; Back</a>
			</div>
		</div>
		<article class="fullPost">
			<div class="container">
				<h1 class="fullPost__title">{{ page.title }}</h1>

				{%- assign date_format = "%b %-d, %Y" -%}
				<div class="author">
					<p class="author__name">{{ page.author }}</p>
					<p class="date">{{ page.date | date: date_format }}</p>
				</div>

				<p class="first">{{page.intro}}</p>
				<!-- nope :P grid layout deshalb ist die h1 so rechts. jo-->

				<!-- in meiner demo ist doch auch alles hier im .container aber irgendwie ist jetzt auch mehr inhalt auf der eigentlichen seite wenn ich die im browser lade. mehr als in der markdown-->
				{{ content }}
			</div>
		</article>

		<div class="up">
			<div class="container">
				<a href="#top" class="backToTop">Back to top &uparrow;</a>
			</div>
		</div>
	</body>
</html>

<footer></footer>
