<!DOCTYPE html>
<html lang="en">
	{%- include headinclude_blog_detail.html -%}
	<body>
		<header>{%- include header.html -%}</header>
		<div class="back" id="top">
			<div class="container">
				<a href="/blog.html#latest" class="backBtn post__btn">&larr; Back</a>
			</div>
		</div>
		<article class="fullPost">
			<div class="container">
				<h1 class="fullPost__title">{{ page.title }}</h1>

				{%- assign date_format = "%b %-d, %Y" -%}
				<div class="author">
					<p class="author__name">{{ page.author }}</p>
					<p class="date">{{ page.date | date: date_format }}</p>
				</div>

				<p class="first">{{page.intro}}</p>

				{{ content }}
			</div>
		</article>

		<div class="up">
			<div class="container">
				<a href="#top" class="backToTop">Back to top &uparrow;</a>
			</div>
		</div>

		{%- include blogFooter.html -%}
	</body>
</html>
